#this is a valid configuration file
#The following variables don’t have default values and must be set
spImagesDirectory = ./images/
spImagesPrefix =     img
spImagesSuffix =  .png
spNumOfImages =          13

spPCADimension = 11
spPCAFilename = pssca.yml
spNumOfFeatures = 5
spExtractionMode = false
spMinimalGUI = true
	spNumOfSimilarImages =   9
#spLoggerFilename = stdout